# **INTRO TO VARIABLE EXERCISE**

### 1. What will be the type of the *add* variable?
a = 10

b = 5.1

add = a + b

In [92]:
a = 10
b = 5.1
add = a + b
print(add)
print(type(add))

15.1
<class 'float'>

### 2. Is 5 == (3+2)?

In [93]:
print (5==(3+2))

True

### 3. Add 33 in variable *a* and print the result

a = 3

In [94]:
a=3
a=a+33
print (a)

36

### 4. Convert integer variable *a* to float and check its type

a = 3

In [95]:
a=3
a=float(a)
print(a)
print(type(a))

3.0
<class 'float'>

### 5. What will be 5 times *a* if the value of a is 10?

In [96]:
a=10
result =5 * a
print(result)

50

### 6. Write a program to calculate the area of a triangle with base = 10 and height = 5

Hint : area of triangle = 1/2 * base * height

In [97]:
base = 10
height = 5
area = 0.5 * base * height
print (area)

25.0

### 7. What will be the value of *z* in the following expression:

z = (v + w) * (x / y)

If

v = 10

w = 25

x = 70

y = 2

In [98]:
v =10
w =25
x = 70
y = 2
z = (v+w)*(x/y)
print(z)

1225.0

### 8. Swap values of *a* and *b*
If before swapping a = 10 and b = 5

Then after swapping a = 5 and b = 10
##### Values can not be hardcoded

In [99]:
a = 10
b = 5
print(f"Before swapping: a = {a}, b={b}")
a, b = b, a
print(f"After swapping: a = {a}, b = {b}")

Before swapping: a = 10, b=5
After swapping: a = 5, b = 10

### 9. Convert 35 degree Celsius temperature to Fahrenheit

In [100]:
celsius = 35
fahrenheit= (celsius *9/5) +32
print (f"fahrenheit")

fahrenheit

# **COLLECTION OF VARIABLES**

### 1. Create a list of repeated element (element 2, 48 times)

In [101]:
repeated_list = [2] * 48

### 2. Print the second element of the list

list = ["apple","orange","grapes","watermelon"]

In [102]:
my_list = ["apple", "orange", "grapes", "watermelon"]
print(my_list[1])

orange

### 3.  Replace the second element of the list with "strawberries"
list = ["apple","orange","grapes","watermelon"]

In [103]:
my_list = ["apple", "orange", "grapes", "watermelon"]
my_list[1] = "strawberry"
print(my_list)

['apple', 'strawberry', 'grapes', 'watermelon']

### 4. Iterate through the list and print the values

In [104]:
my_list = ["apple", "orange", "grapes", "watermelon"]
for item in my_list: print(item)

apple
orange
grapes
watermelon

### 5. Write a Python code to print squares of all numbers present in a list = [1, 12, 24, 36, 11, 20,50]

In [105]:
numbers_list =[1, 12, 24, 36, 11, 20, 50]
squared_numbers = [number**2 for number in numbers_list]
print(squared_numbers)

[1, 144, 576, 1296, 121, 400, 2500]

### 6. Pop yellow color from the list below:
List=['white','red', 'blue', 'green','blue','yellow', 'black']

In [26]:
colors = ['white', 'red', 'blue', 'green', 'blue', 'yellow', 'black']
colors.remove('yellow')
print(colors)

['white', 'red', 'blue', 'green', 'blue', 'black']

### 7. Check length of list

list=["a","b","c","d","e"]

In [ ]:
list=["a", "b", "c", "d", "e"]
list_length = len(list)
print(f"Length of the list: {list_length}")
print(len(list))

Length of the list: 5
5

###  8. Create a dictionary with the following information:

brand = Audi

Model = Q2

Year = 1980

In [ ]:
car_info = { 
    "brand": "Audi" ,
    "model": "Q2" ,
    "year": 1980
    }

### 9. In the above dictionary change the year to 2019

In [ ]:
car_info["year"] = 2019
print(car_info)

{'brand': 'Audi', 'model': 'Q2', 'year': 2019}

### 10. Create a set of following elements

1.0, "Hello", 55 , (6,7,8)

In [ ]:
my_set ={1.0, "Hello"}, 55, (6, 7, 8)
print(my_set)

({1.0, 'Hello'}, 55, (6, 7, 8))

# **CONDITIONAL STATEMENTS EXERCISE**

### 1. Check if a is equal to 10, If yes, print "Hello", else print "Good Bye"
a = 56

In [ ]:
a = 56
if a == 10:
    print("Hello")
else:
    print("Good Bye")

Good Bye

### 2. Check whether a number is even or odd
a = 2020

In [ ]:
a =2020
if a % 2 == 0:
    print(f"{a} is an even number.")
else:
    print(f"{a} is an odd number.")

2020 is an even number.

### 3.  Check whether the area of the rectangle is greater than the perimeter of the rectangle
length = 5
breadth = 10

Hint: Area of rectangle = length * breadth

Hint: Perimeter of rectangle = 2 * (length + breadth)

In [25]:
length =5
breadth = 10
area = length * breadth
perimeter = 2 *(length + breadth)
if area > perimeter:
    print("Area is greater")
else:
    print("Perimeter is greater")

Area is greater

### 4. Calculate the average marks of a student in 5 subjects and give grades accordingly:
If average>90 then Grade = A

If average>80 then Grade = B

If average>70 then Grade = C

If average>60 then Grade = D

If average>50 then Grade = E

else Fail

Marks in subject 1= 72

Marks in subject 2= 85

Marks in subject 3= 96

Marks in subject 4= 42

Marks in subject 5= 95

In [24]:
marks_subject_1 = 72
marks_subject_2 = 85
marks_subject_3 = 96
marks_subject_4 = 42
marks_subject_5 = 95
total_marks = marks_subject_1 + marks_subject_2 + marks_subject_3 + marks_subject_4 + marks_subject_5
average_marks = total_marks / 5
if average_marks > 90:
    grade = "A"
elif  average_marks > 80:
    grade = "B"
elif  average_marks > 70:
    grade = "C"
elif   average_marks > 60:
    grade = "D"
elif average_marks > 50:
    grade = "E"
else:
    grade ="Fail"
    print(f"Average Marks: {average_marks}")
    print(f"Grade:{grade}")

###  5. Check if a triangle is equilateral, isosceles or scalene.

Hint :
1. An equilateral triangle is a triangle in which all three sides are equal.

2. A scalene triangle is a triangle that has three unequal sides.

3. An isosceles triangle is a triangle with (at least) two equal sides.

Dimensions of triangle:

side 1 = 6

side 2 = 8

side 3 = 12

In [23]:
side1, side2, side3 = 6, 8, 12

if side1 == side2 == side3:
    print("Equilateral triangle")
elif side1 == side2 or side2 == side3 or side1 == side3:
    print("Isosceles triangle")
else:
    print("Scalene triangle")

Scalene triangle

### 6. Check if the word "Data" is present in the sentence "I am a Data Scientist". If found print "It is present" else print FALSE

In [91]:
sentence = "I am a Data Scientist."
word_to_find = "Data" 
if word_to_find in sentence:
    result = True
else: 
    result = False 
    print(f"Is '{word_to_find}'present in the sentence? {result}")
    print(word_to_find)

### 7. Write Python code to check if a number is positive or negative.

In [22]:
num = -7
if num >= 0:
    print("Positive")
else:
    print("Negative")

Negative

### 8. x = 20 and y = 30. Write a Python code to check if x is less than y.

In [109]:
x = 20 
y = 30
if x < y:
    print(f"{x} is less than {y}.")
else: print(f"{x} is not less than {y}.")

20 is less than 30.

### 9. Based on the users age, divide them into three groups
    Group 1 : Age <18 , Minors who are not eligible to work
    Group 2 : 18 < Age < 60 , Eligible to work
    Group 3 : Age > 60, Too old to work as per govt. regulations.

### Write a Python code for the same

In [21]:
age = 45

if age < 18:
    print("Group 1: Minor, not eligible to work")
elif age <= 60:
    print("Group 2: Eligible to work")
else:
    print("Group 3: Too old to work")

Group 2: Eligible to work

### 10. From the age of 3 people determine the oldest person among them.
Age of first person = 25

Age of second person = 34

Age of third person = 45

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# **LOOPING STATEMENTS EXERCISE**

### 1. Print -10 to -1 using for loop

In [11]:
for i in range(-10, 0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### 2. Using while loop print numbers 1 to 10

i = 1
while i <= 10:
    print(i)
    i += 1

In [12]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

### 4. Using while loop generate the table of 5

In [13]:
i = 1
while i <= 10:
    print("5 x", i, "=", 5 * i)
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### 5. Using for loop generate the table of 8

In [14]:
for i in range(1, 11):
    print("8 x", i, "=", 8 * i)

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

In [15]:
for i in range(1, 101):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

In [16]:
total = sum(range(1, 101))
print("Sum =", total)

Sum = 5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

In [17]:
for i in range(202, 321):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

203
217
224
231
238
252
259
266
273
287
294
301
308

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

In [18]:
st = "Data Science"
vowels = "aeiouAEIOU"
count = sum(1 for char in st if char in vowels)
print("No of vowels =", count)

No of vowels = 5

### 10. Print Data Science 5 times using for loop

In [20]:
for i in range(5):
    print("Data Science")

Data Science
Data Science
Data Science
Data Science
Data Science

# **USER DEFINED FUNCTION AND LAMBDA FUNCTIONS EXERCISE**

### 1. Write a function to add, subtract, multiply and divide two variables passed to it and print the result

In [1]:
def operations(a, b):
    print("Addition:", a + b)
    print("Subtraction:", a - b)
    print("Multiplication:", a * b)
    if b != 0:
        print("Division:", a / b)
    else:
        print("Division not possible")

operations(20, 5)

Addition: 25
Subtraction: 15
Multiplication: 100
Division: 4.0

### 2. Write a Python function given range (1,10) both included, that gives the square of every number

In [2]:
def squares():
    for i in range(1, 11):
        print(i, "squared is", i ** 2)

squares()

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36
7 squared is 49
8 squared is 64
9 squared is 81
10 squared is 100

### 3. Write a function to calculate simple interest

simple interest = (Principal amount * Annual Rate of interest * Time(in years))/100

Take values as follows

Principal Amount = 1000

Rate of interest = 3%

Time = 5 years

In [3]:
def simple_interest(P, R, T):
    return (P * R * T) / 100

print("Simple Interest =", simple_interest(1000, 3, 5))

Simple Interest = 150.0

### 4. Write a function to check the number is divisible by 25. The function should return True if divisible and "Not divisible" if not

In [4]:
def check_div25(num):
    if num % 25 == 0:
        return True
    else:
        return "Not divisible"

print(check_div25(100))
print(check_div25(42))

True
Not divisible

### 5. Define a function that takes an input, squares it, adds 5, then returns the answer

In [5]:
def square_add5(x):
    return x ** 2 + 5

print(square_add5(4))

21

### 6. Using lambda function perform the following task : take an input, squares it, add 5, then return the answer

In [6]:
square_add5_lambda = lambda x: x ** 2 + 5
print(square_add5_lambda(4))

21

### 7. Write a function to calculate the power of a number raised to other ($a^b$)

In [7]:
def power(a, b):
    return a ** b

print(power(2, 5))  # 2^5

32

### 8. Write a function to calculate the area of a triangle

area of triangle = 1/2 * base * height

In [8]:
def area_triangle(base, height):
    return 0.5 * base * height

print("Area =", area_triangle(10, 5))

Area = 25.0

### 9. Create a function that takes country as the input and returns "I am from *Country* "

In [9]:
def country_origin(country):
    return "I am from " + country

print(country_origin("France"))

I am from France

### 10. Write a function to convert degree Celsius temperature to Fahrenheit

In [10]:
def celsius_to_fahrenheit(c):
    return (c * 9/5) + 32

print("Fahrenheit =", celsius_to_fahrenheit(35))

Fahrenheit = 95.0